.maingrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.subgrid1 {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid #ddd;

    .userlogin {
        margin: 5vh auto;
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        color: #4f46e5;
        line-height: 2rem;
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    }


}

.subgrid2 {
    grid-area: 1 / 2 / 2 / 5;
    border: 1px solid #ddd;
    background-color: white;
    width: 50% ; 
    margin: auto;
}

.addmoregrid{
    width: 95%;
    margin: auto;
}

.btnwrp{
    display: flex;
    padding: 15px;
button {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    width: 90%;
    margin-left: 5%;
    line-height: 2rem;
    background-color: #8b53f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
    :last-child{
    background-color: white;
    color: black;
    border: 1px solid black;
    }
    :disabled{
        opacity: 65%;
        cursor: not-allowed;
    }


}

.classlabel {
    font-size: 0.85rem;
    font-weight: 500;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

    .subgridwrp {
        margin-top: -5rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        display: grid;
        align-items: center;
        text-align: center;
        height: 10rem;
        margin: auto;
        box-shadow: 0 4px 12px #ddd;
        width: 70%;
        background-color: white;
    }

    input[type="text"],
input[type="textarea"],
select {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

.error {
    color: red;
    font-size: 0.75rem;
    width: 90%;
}

.titleform{
     font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
        margin: 5vh auto;
        text-align: center;
        font-weight: 700;
        font-size: 1.25rem;
        color: #4f46e5;
}

        .lablewrp {
            display: grid;
            width: 90%;
            margin-left: 5%;
}
ul{
    margin-left: 10%;
}
li{
        list-style-type: none;
    text-align: justify;
}

a{
    text-decoration: underline;
    color: #4f46e5;
    cursor: pointer;
}

table{
    border: 1px solid #ddd;
    width: 100%;
    margin: auto !important;
}
th, td{
      font-size: 11px;
    font-weight: 500;
    text-align: center;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
th{
    color: white;
    background-color: #8b53f3 !important;
}


@media (max-width: 768px) {
.mdc-data-table__cell, .mdc-data-table__header-cell {
        padding: 0px !important;
}
  .maingrid {
    display: grid;
    grid-template-columns: 1fr;  
    grid-template-rows: auto auto; 
    grid-row-gap: 20px;
    height: auto; 
  }

  .subgrid1 {
    grid-area: auto;
    width: 90%;
    margin: 10px auto;
  }

  .subgrid2 {
    grid-area: auto;
      width: 70% ; 
    margin: 10px auto;
  }
  .addmoregrid{
    width: 90%;
    margin: auto;
}

  .subgridwrp {
    width: 75%;
    margin-top: 20px;
  }
}
